{% extends "layout.html" %}
{% load static %}
{% load dash_extras %}
{% block title %}Статистика{% endblock %}

{% block style %}
    <link href="{% static 'dashboards/css/ter_admins_reports.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'dashboards/js/ter_admins_reports.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}
<div id="reports">
    <h2>Статистика образовательных организаций Самарской области</h2>
    <div class="reports">
        <div class="report-plate">
            <a href="{% url 'ter_admins_dash' %}">
                <h3>1. Рейтинг общеобразовательных организаций</h3>
            </a>
        </div>
        <div class="report-plate">
            <a href="{% url 'school_report' %}">
                <h3>2. Динамика результатов по показателям в разрезе конкретной школы</h3>
            </a>
        </div>
        <div class="report-plate">
            <a href="{% url 'closters_report' %}">
                <h3>3. Средние значения по кластерам общеобразовательных организаций</h3>
            </a>
        </div>
        <div class="report-plate">
            <a href="{% url 'answers_distribution_report' %}">
                <h3>4. Распределение вариантов ответов по показателям</h3>
            </a>
        </div>
    </div>
</div>
{% endblock %}