{% extends "layout.html" %}
{% load static %}
{% load dash_extras %}
{% block title %}Статистика{% endblock %}

{% block style %}
    <link href="{% static 'dashboards/css/ter_admins_reports.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'dashboards/js/ter_admins_reports.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block body %}
<div id="reports">
    <h2>Отчёты</h2>
    <div class="reports">
        <div class="report-plate">
            <a href="{% url 'ter_admins_dash' %}">
                <h3>Показатели рейтинга общеобразовательных организаций Самарской области</h3>
            </a>
        </div>
        <div class="report-plate">
            <a href="{% url 'school_report' %}">
                <h3>Динамика результатов по показателям в разрезе конкретной школы</h3>
            </a>
        </div>
        <div class="report-plate">
            <div class="disabled-link">
                <h3>Показатели рейтинга общеобразовательных организаций Самарской области по кластеру</h3>
            </div>
        </div>
        <div class="report-plate empty"></div>
    </div>
</div>
{% endblock %}