body
    min-height: 100vh
    display: grid
    grid-template-rows: auto 1fr auto

    font-family: 'akrobat'
    h1
        font-size: 28px
        font-weight: 400
    h2
        font-size: 24px
        font-weight: 400
    .btn-primary
        background-color: #a61849 !important
        border-color: #a61849 !important
    .body
        padding: 25px 10%
        min-height: 200px
        display: flex
        justify-content: center
        background-color: rgb(255 0 0 / 12%)
        column-gap: 25px
        div
            background-color: white
            border-radius: 5px
        #main-menu
            padding: 15px 15px
            width: 250px
            height: min-content
            flex-direction: column
            h2
                margin-bottom: 15px
            .nav-pills
                width: 100%
                margin-right: 0
            button
                text-align: left
                color: #a61849 
            .active
                color: white
                background-color: #a61849
                border-color: #a61849
        
    header
        width: 100%
        height: min-content
        padding-top: 5px
        box-shadow: 0px 6px 6px rgba(166, 24, 73, 0.61)
        
        display: flex
        justify-content: center
        flex-direction: column
        div
            display: flex
            justify-content: center
            align-items: center
        #logo
            height: 60px
            margin-bottom: 10px
        #header-menu
            width: 80%
            margin: auto
            display: grid
            justify-content: space-between
            justify-items: start
            grid-template-columns: 200px auto auto
            #user-welcome
                font-weight: 500 !important
                color: #262626cc
                white-space: nowrap
                text-transform: uppercase
                a
                    color: #a61849
        #header-title
            height: min-content
            padding: 10px 0
            background-color: #a61849
            color: white 
            p
                margin: 0
                font-size: 28px
                font-weight: 400
    
    footer
        min-height: 90px
        width: 100%

        display: flex
        justify-content: center
        align-items: center
        column-gap: 35px
        span
            display: flex
            justify-content: center
        #footer-email:before
            width: 29px
            height: 29px
            background-image: url(../img/email-icon.png)
            background-size: 25px 23px
            background-repeat: no-repeat
            padding-right: 5px
            padding-top: 5px
            content: ""
        #footer-phone:before
            content: url(../img/phone-icon.png)
            padding-right: 5px
            padding-top: 2px
            padding-bottom: 2px
        #footer-address:before
            content: url(../img/map-icon.png)
            padding-right: 5px


        background-color: #262626
        color: #b3b3b3

            

        



