.form-floating
    .dropdown-toggle
        height: 60px !important
        border: 1px solid #31343783 !important
        background-color: white !important
        .filter-option
            padding-top: 20px
    .dropdown-menu
        z-index: 100
    label
        font-size: 16px
        opacity: 0.9
        transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem)
input
    border: 1px solid #31343783 !important
#page-content
    padding: 25px 25px
    width: calc(100% - 250px)
    h1
        width: 85%
        font-size: 26px
        margin: auto
        margin-bottom: 25px
    h2
        font-size: 22px
    h3
        font-size: 18px
    .section
        display: none
        margin-top: 15px
        margin-bottom: 15px
        margin-left: 15px
        .section-table
            width: 95%
            margin: auto
            .tr-section
                th
                    font-size: 18px
                    font-weight: 500
            .tr-field
                th
                    font-size: 16px
                    font-weight: 500
            .field
                margin-left: 15px
                margin-bottom: 0 !important
            .center
                text-align: center
                vertical-align: middle
    .sections-panel
        width: 95%
        margin: auto
        margin-top: 25px
        display: flex
        justify-content: flex-end
        column-gap: 15px
    .current-section
        display: block
    .control-panel
        display: flex
        justify-content: space-between
        margin-bottom: 25px