.form-floating
    .dropdown-toggle
        height: 60px !important
        border: 1px solid #31343783 !important
        background-color: white !important
        .filter-option
            padding-top: 20px
    .dropdown-menu
        z-index: 100
    label
        font-size: 16px
        opacity: 0.9
        transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem)
input
    border: 1px solid #31343783 !important
#page-content
    padding: 25px 25px
    width: calc(100% - 250px)
    h2
        font-size: 22px
    h3
        font-size: 18px
    .section
        margin-left: 15px
        .field
            margin-top: 15px
            margin-left: 25px
            max-width: 80%
