#page-content
    padding: 25px 25px
    width: calc(100% - 250px)
form
    display: flex
    flex-direction: column
    align-items: flex-end
    background-color: rgb(167 167 167 / 25%)
    padding: 10px 15px
    border-radius: 15px
    margin-bottom: 25px
    label
        font-weight: 500
    .btn-outline-primary
        background-color: white
        font-weight: 500
        border: 0
.filter
    width: 100%
    display: grid
    grid-template: auto auto
    column-gap: 15px
    .mb-3
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 5px !important
        .dropdown-toggle
            background-color: white
            border: 0
        .filter-option-inner-inner
            width: 100%
    
.table
    th
        font-weight: 400 !important
        font-size: 16px
        line-height: 20px
        border-top: 0
        border-bottom: 2px solid black
    .sticky-top
        z-index: 100 !important
    td
        font-weight: 300 !important
        max-width: 250px
        word-wrap: break-word
    .th-center, .td-center
        text-align: center
    .th-rigth, .td-rigth
        text-align: right
    .zero-reports
        text-align: center
        font-size: 18px
