{% extends "layout.html" %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block style %}
        <link href="{% static 'users/css/login.css' %}" rel="stylesheet">
        <style>
            .btn-primary {
                background-color: #9e183c;
                border-color: #9e183c;
            }
            .btn-primary:hover {
                background-color: #801530;
                border-color: #801530;
            }
            .btn-outline-secondary:hover {
                border-color: #9e183c;
                color: #9e183c;
                background-color: transparent;
            }
            .form-control:focus {
                border-color: #9e183c;
                box-shadow: 0 0 0 0.25rem rgba(158, 24, 60, 0.25);
            }
            .card {
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                .card-body {
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .card-title {
                color: #9e183c;
                margin-bottom: 1.5rem;
                font-weight: 600;
            }
        </style>
{% endblock %}

{% block body %}
        <div class="card login-card">
            <div class="card-body">
                <h5 class="card-title text-center">Восстановление пароля</h5>
                
                {% if error_message %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert" style="margin-top: 10px; margin-bottom: 20px;">
                        <i class="fas fa-exclamation-circle me-2"></i>
                        <div>{{ error_message }}</div>
                    </div>
                {% endif %}
                
                <p class="text-center mb-4">Введите email, указанный при регистрации, для получения инструкций по восстановлению пароля.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <div class="input-group">
                            <input type="email" id="email" class="form-control" name="email" placeholder="Email" aria-label="Email" aria-describedby="at" required>
                            <span class="input-group-text" id="at">@</span>
                        </div>
                        <div class="form-text mt-2 text-muted">На этот адрес будет отправлена ссылка для сброса пароля</div>
                    </div>
                    <button style="width: 100%;" class="btn btn-primary py-2 mb-3" type="submit">Отправить</button>
                </form>
                <div class="form-text mt-3 text-center">
                    <a href="{% url 'login_view' %}" class="btn btn-sm btn-outline-secondary">Вернуться на страницу входа</a>
                </div>
            </div>
        </div>
{% endblock %} 