{% extends "layout.html" %}
{% load static %}
{% block title %}Роль не определена{% endblock %}
{% block style %}
    <link href="{% static 'users/css/undefined_user.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Вашему аккаунту не назначена роль или он не привязан к школе/территориальному образованию</h1>
        <p>Пожалуйста, обратитесь к администратору.</p>
        <a href="{% url 'login_view' %}" class="button btn btn-primary">Авторизация</a>
    </div>
{% endblock %}
