.body {
  padding: 25px 0 !important;
}

#page-content {
  width: calc(100% - 250px);
  max-width: 80vw;
  background-color: rgba(228, 0, 0, 0);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  -webkit-box-shadow: 0px 7px 11px 4px #bababa;
          box-shadow: 0px 7px 11px 4px #bababa;
  padding: 25px 25px;
  border-radius: 10px;
  margin-bottom: 25px;
}

form label {
  font-weight: 400;
  font-size: 18px;
}

form .btn-outline-primary {
  background-color: white;
  font-weight: 500;
}

.filter {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(35%  -  16px) calc(65%  -  16px);
      grid-template-columns: calc(35%  -  16px) calc(65%  -  16px);
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.filter .mb-3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px !important;
}

.filter .mb-3 .dropdown-toggle {
  background-color: white;
  border: 1px solid #00000059;
}

.filter .mb-3 .filter-option-inner-inner {
  width: 100%;
}

#ReportSchools h1 {
  font-size: 28px;
  margin-bottom: 25px;
}

.section, #ReportSchools {
  background: white;
  -webkit-box-shadow: 0px 7px 11px 4px #bababa;
          box-shadow: 0px 7px 11px 4px #bababa;
  padding: 25px 25px;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

.section h2, #ReportSchools h2 {
  margin-bottom: 15px;
}

.section .outer-container,
#ReportSchools .outer-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.section .outer-container .table-container,
#ReportSchools .outer-container .table-container {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  max-height: 700px;
}

.section .outer-container .table,
#ReportSchools .outer-container .table {
  width: 100%;
  min-width: 600px;
}

.section .outer-container .table th,
#ReportSchools .outer-container .table th {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
  border-top: 0;
  border-bottom: 1px solid black;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.section .outer-container .table th::after,
#ReportSchools .outer-container .table th::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.section .outer-container .table td,
#ReportSchools .outer-container .table td {
  font-weight: 300 !important;
  max-width: 250px;
  vertical-align: middle;
  word-wrap: break-word;
}

.section .outer-container .table .th-center,
.section .outer-container .table .td-center,
#ReportSchools .outer-container .table .th-center,
#ReportSchools .outer-container .table .td-center {
  text-align: center;
}

.section .outer-container .table .th-rigth,
.section .outer-container .table .td-rigth,
#ReportSchools .outer-container .table .th-rigth,
#ReportSchools .outer-container .table .td-rigth {
  text-align: right;
}

.section .outer-container .table .section-hdr,
#ReportSchools .outer-container .table .section-hdr {
  min-width: 350px !important;
}

.section .outer-container .table td:first-child,
.section .outer-container .table th:first-child,
#ReportSchools .outer-container .table td:first-child,
#ReportSchools .outer-container .table th:first-child {
  min-width: 250px;
  background-color: white;
  position: sticky;
  left: 0;
  z-index: 3;
}

.section .outer-container .table th:first-child,
#ReportSchools .outer-container .table th:first-child {
  z-index: 4;
}

.section .outer-container .table th:first-child::after,
#ReportSchools .outer-container .table th:first-child::after {
  z-index: 4;
}

.section .asc-icon,
.section .desc-icon,
#ReportSchools .asc-icon,
#ReportSchools .desc-icon {
  display: none;
}

.section .asc-icon img,
.section .desc-icon img,
#ReportSchools .asc-icon img,
#ReportSchools .desc-icon img {
  width: 30px;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.6em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge.bg-warning {
  background-color: #ffc107;
  color: #000;
}
/*# sourceMappingURL=ter_admins_dash.css.map */